{% extends 'base.html' %}

{% block title %}
<title>Login - My Django App</title>
{% endblock %}

{% block content %}

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button class ='btn btn-primary' type="submit">Login</button>
    </form>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}


{% endblock content %}